/* TAG */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    background-color: blanchedalmond;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    padding: 1px;
}   

label {
    font-size: 18px;
    color: brown;
}

button {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: black;
    color: white;
}

/* ID */
#inputfield:focus {
    border: solid rgb(0, 0, 0);
}

#inputfield {
    outline: none;
    border-radius: 10px;
    padding: 10px;
    border: solid rgb(161, 161, 161);
    
}

/* CLASS */
.input {
    display: flex;
    flex-direction: column;
    padding: 5px 200px;
    text-align: center;
    margin-top: 20px;
}

.areatombolinput {
    margin-top: 10px;
}



